.root {
  -fx-background-color: rgba(36, 32, 59, 1);
  -fx-border-color: white;
  -fx-border-radius: 15px;
  -fx-border-width: 1px;
}
/* 
#header {
  -fx-background-color: rgba(32, 32, 32, 0.45);
} */

#menu_btn,
#min_btn,
#max_btn,
#close_btn,
#exit_btn {
  -fx-background-color: transparent;
}

#menu_btn,
#min_btn:hover,
#max_btn:hover,
#menu_btn:hover {
  -fx-background-color: rgba(36, 32, 59, 1);
}

#exit_btn:hover {
  -fx-background-color: rgba(74, 68, 107, 0.466);
}

#close_btn:hover {
  -fx-background-color: red;
}
/* jhkhk 

.body-hbox {
  -fx-background-color: transparent;
}

.chat-scroll {
  -fx-background-color: transparent;
}

#chat_vbox {
  -fx-background-color: transparent;
}


.side-root {
  -fx-background-color: transparent;
  -fx-border-color: rgb(71, 65, 107);
  -fx-border-width: 0 1 0 0;
}

#menu_box {
  -fx-background-color: rgba(36, 32, 59, 1);
  -fx-border-color: rgba(255, 255, 255, 0.355);
  -fx-border-width: 0 1 1 0;
}

.sidebar-btns {
  -fx-background-color: rgba(107, 99, 149, 0.153);
  -fx-text-fill: rgb(56, 92, 169);
}

.sidebar-btns:hover {
  -fx-background-color: rgba(36, 32, 59, 1);
}


.side-pane {
  -fx-background-color: rgba(32, 32, 32, 1);
}

.sidebar {
  -fx-background-color: transparent;
}

#search_box {
  -fx-background-color: rgba(94, 87, 135, 0.53);
  -fx-background-radius: 15;
}

#search_field {
  -fx-background-color: transparent;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-font-size: 14;
}

#search_btn {
  -fx-background-color: transparent;
}

#search_btn:hover {
  -fx-background-color: rgb(71, 64, 106);
}


.chatting-area {
  -fx-backgruond-color: rgba(58, 58, 58, 0.3);
}

#gName_box {
  -fx-background-color: transparent;
  -fx-border-color: rgba(255, 255, 255, 0.24);
  -fx-border-width: 0 0 4 0;
}

#group_detail_btn {
  -fx-background-color: transparent;
}

#group_detail_btn:hover {
  -fx-background-color: rgba(36, 32, 59, 1);
}

#chat_box {
  -fx-background-color: rgba(50, 55, 95, 0.44);
}

#message_box {
  -fx-background-color: rgba(68, 62, 103, 1);
}

#message_field {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-border-color: rgb(90, 83, 130);
  -fx-border-width: 0 0 0 2;
}

#send_btn {
  -fx-background-color: transparent;
}

#send_btn:hover {
  -fx-background-color: rgb(90, 83, 130);
}



#footer {
  -fx-background-color: rgba(62, 58, 90, 1);
}

#about_btn {
  -fx-background-color: transparent;
  -fx-text-fill: White;
}


.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .viewport {
  -fx-background-color: rgba(36, 32, 59, 1);
}

.scroll-pane .scroll-bar {
  -fx-background-color: rgba(36, 32, 59, 1);
}

.scroll-pane .thumb {
  -fx-background-color: rgba(75, 70, 104, 0.298);
}

#message_vbox {
  -fx-background-color: rgba(36, 32, 59, 1);
  -fx-spacing: 10;
}

*/

.text-label {
  -fx-background-color: rgba(57, 74, 107, 0.465);
  -fx-background-radius: 23px;
  -fx-padding: 10;
  -fx-text-fill: white;
  -fx-max-width: 700;
  -fx-wrap-text: true;
}
