#root {
  -fx-background-color: rgba(36, 32, 59, 1);
  -fx-background-radius: 10px;
}

#error_label {
  -fx-background-color: transparent;
  -fx-text-fill: red;
}

#close_btn {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
}

#close_btn:hover {
  -fx-background-color: rgba(78, 72, 111, 0.271);
}

.field {
  -fx-background-color: transparent;
  -fx-border-color: rgba(86, 80, 120, 1);
  -fx-border-width: 0 0 2 0;
  -fx-text-fill: white;
}

#sign_btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

#sign_btn:hover {
  -fx-background-color: rgba(105, 87, 207, 0.327);
}

/* for login stage  */

#unlock_btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-weight: 500;
  -fx-font-size: 14;
}

#unlock_btn:hover {
  -fx-background-color: rgba(86, 80, 120, 1);
}

#show_btn {
  -fx-background-color: transparent;
}
