#root {
  -fx-background-color: rgba(36, 32, 59, 1);
}

#error_label {
  -fx-background-color: transparent;
  -fx-text-fill: red;
}

#close_btn {
  -fx-background-color: transparent;
}

#close_btn:hover {
  -fx-background-color: rgba(224, 25, 25, 0.293);
}

.field {
  -fx-background-color: transparent;
  -fx-border-color: rgba(86, 80, 120, 1);
  -fx-border-width: 0 0 2 0;
  -fx-text-fill: white;
}

#next_btn {
  -fx-background-color: rgba(105, 87, 207, 0.482);
  -fx-text-fill: white;
  -fx-border-color: rgba(255, 255, 255, 0.433);
  -fx-border-width: 0 0 2 0;
}

#next_btn:hover {
  -fx-background-color: rgb(105, 87, 207);
  -fx-border-color: white;
}

/* for login stage  */
#login_btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-weight: 500;
  -fx-font-size: 14;
}

#login_btn:hover {
  -fx-background-color: rgba(86, 80, 120, 1);
}
